#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">


    <mirrors>
        <!--        <mirror>-->
        <!--            <id>alimaven</id>-->
        <!--            <mirrorOf>central</mirrorOf>-->
        <!--            <name>阿里云公共仓库</name>-->
        <!--            <url>https://maven.aliyun.com/repository/public</url>-->
        <!--        </mirror>-->
        <mirror>
            <id>sonatype-oss-mirror</id>
            <url>http://oss.sonatype.org/content/repositories/releases/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>


</settings>
